details.full-list-of-found-caches {
    margin-top: 5px !important;
}

details.full-list-of-found-caches summary {
    margin-bottom: 5px !important;
}

details.full-list-of-found-caches p {
    margin: 2px !important;
}

details.full-list-of-found-caches p img.cache-type {
    margin-right: 5px !important;
    vertical-align: sub;
}

details.full-list-of-found-caches p a.full-found-cache-list-cache-name {
    font-weight: bold;
}

details.full-list-of-found-caches p span.cache-metadata {
    font-size: smaller;
}

details.full-list-of-found-caches p span.cache-metadata-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

details.full-list-of-found-caches p span.cache-metadata-item img.favorite-point {
    vertical-align: middle;
}

details.full-list-of-found-caches p span.cache-metadata-item img.found-or-not {
    vertical-align: text-bottom;
}